body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: "Encode Sans", sans-serif;
  padding: 0 1em;
}

.PlaygroundApp {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Label {
  color: rgb(183, 183, 185);
  margin-top: 0;
  margin-bottom: 0.375rem;
  font-weight: bold;
  font-size: 0.875em;
}

.Value {
  color: rgb(247, 140, 108);
  margin: 0;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}
